body{ 
    color: #333; 
    margin:0 50px;
    background:transparent url("img/subtle_grunge.png") repeat 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size:10px; 
}

h1{ 
    font-weight: 300;  
    margin: 0 0 10px 0; 
    padding: 0; 
    font-size: 18px;  
    float:left;
}

h1 strong{
  font-weight:bold;
}

p{   
    margin: 0 0 10px 0; 
    padding: 0; 
}

p.hint{ 
margin-top: 30px;
margin-left: 50px;
font-size: 12px;
clear: both;
width: 850px;
}
p.hint em{
  float:right;
}


form{
  clear:both;
}
    
p,ul{ 
    font-size: 13px; 
}
    
a{ 
    color: #333;
}

.hidden{ 
    display: none; 
}

.shit{
  visibility: hidden;
}

.pie{
  opacity:0.8;
}

svg{
  clear:both;
}

.background {
  fill: none;
  pointer-events: all;
}

header{
    margin-bottom: 25px;
    margin-top:50px;
    float:left;
    width: 100%;
}

#vis {
height: 440px;
}

.sidebar{
  min-width: 200px;
  max-width: 300px;
}
.navigation{
right: 50px;
top:50px;
position: fixed;
}
.navigation li{
  display:inline;
}
    
div.tooltip  {
    color: #222; 
    padding: 0; 
    text-shadow: #f5f5f5 0 1px 0;
    position: relative;
    height:300px;
}

div.tooltip .sep { 
    color: #444; 
    font-weight: 300;
}

path.country { 
    fill: #ddd; 
    //stroke: #FFF;
    stroke-width: 0.5px; 
}

text.legend  { 
    fill: #242930; 
}

.stroke {
  fill: none;
  stroke: #000;
}

.fill {
  fill: #fff;
}

.background {
  fill: none;
  pointer-events: all;
}

.country {
  fill: #ccc;
}

.country-boundary {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.country.hover {
  fill: #9098A5 !important;
}

.country.selected-boundary, {
  fill: none;
  stroke: #fff;
}

.slice{
  stroke:#fff;
  stroke-width: 0.5px; 
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.country{
  stroke-width: .5px;
}

/* the switch */
.label {
float: left;
font-size:13px;
line-height:20px;
}

h2{
  font-size:16px;
  margin-top:40px;
  clear:both;
}

.red{
  background:transparent url("img/cotton.svg") no-repeat left center;
  padding-left:40px;
  min-height:35px;
  margin-bottom:15px;
}

.blue{
  background:transparent url("img/drop_blue.svg") no-repeat left center;
  padding-left:40px;
  min-height:35px;
  margin-bottom:15px;
}

.green{
  background:transparent url("img/drop_green.svg") no-repeat left center;
  padding-left:40px;
  min-height:35px;
  margin-bottom:15px;
}

.resources{
  background:transparent url("img/glass.svg") no-repeat left center;
  padding-left:40px;
  min-height:35px;
}

.red span{
  font-size:16px;
  color:#B33D5D;
}

.blue span{
  font-size:16px;
  color:#2E7CBC;
}

.blue strong, .resources strong{
  font-weight:normal;
}

.green span{
  font-size:16px;
  color:#49B044;
}

.resources span{
  font-size:16px;
  color:#00B2B2;
}

.capitaicon{
  background:transparent url("img/person.svg") no-repeat 0 0;
  display:inline-block;
  text-indent: -9999px;
  height: 15px;
  width: 5px;
  line-height: 12px;
  margin-left:3px;
}



.toggle-bg{
    background: #D8859B; /* You'll want to see the area being toggled, but feel free to change the color */
    display: block; /* ...So that we can set a height and width */
    float: left; /* ...So that it doesn't take up the full width of the page */
    height: 20px; /* You can change this later if you want */
    position: relative; /* Required to allow the switch to move around */
    width: 60px; /* This can be changed later as well */
    border-radius: 10px;
    margin:0 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
}

.toggle-bg2{
    display: block; /* ...So that we can set a height and width */
    float: left; /* ...So that it doesn't take up the full width of the page */
    height: 25px; /* You can change this later if you want */
    position: relative; /* Required to allow the switch to move around */
    width: 18px; /* This can be changed later as well */
    margin:0 5px 0 15px;
}

.toggle-bg input{
    height: 28px;
    left: 0;
    margin: 0; 
    opacity: 0; 
    padding: 0;
    position: absolute;
    top: -10px; 
    width: 60px;
    z-index: 2; 
}

.toggle-bg2 input{
    height: 25px;
    left: 0;
    margin: 0; 
    opacity: 0; 
    padding: 0;
    position: absolute;
    top: -10px; 
    width: 18px;
    z-index: 2; 
}

.switch{
    background: #ccc;
    cursor:pointer;
    display: block;
    float: left;
    height: 18px;
    left: 1px; 
    position: relative;
    top: 1px;
    width: 18px;
    z-index: 1; 
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    background: #fff;
    box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
    -moz-box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
    -webkit-box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
}

.switch2{
   background: url(img/drop_all.svg) no-repeat top left;
    cursor:pointer;
    display: block;
    float: left;
    height: 25px;
    left: 0; 
    position: relative;
    top: -5px;
    width: 18px;
    z-index: 1; ;
}



.toggle-bg input:checked~.switch{ left: 1px; }
.toggle-bg2 input:checked~.switch2{ left: 0px; }
 
.toggle-bg input~:checked~.switch{ left: 42px; }
.toggle-bg2 input~:checked~.switch2{ left: 1px;background: url(img/drop_all_notactive.svg) no-repeat top left; }
 
.toggle-bg input:checked,.toggle-bg2 input:checked{ z-index: 0; }

.axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  pointer-events: none;
}

.pie{
  pointer-events: none;
}

.d3-slider-axis .context path {
stroke-width: 0;
fill: #9098A5;
}
.context,.area{
pointer-events:  none
}

.d3-slider-axis .context .y.axis path {
  fill: none;
  stroke-width:1px;
  stroke: #333;
  shape-rendering: crispEdges;
}

.infobox{
  max-height:35px;
  margin-bottom:12px;
  overflow: hidden;
  transition: max-height 1s, background-color 1s;
  -moz-transition: max-height 1s, background-color 1s; 
  -webkit-transition: max-height 1s, background-color 1s;
  -o-transition: max-height 1s, background-color 1s;
}

.infobox h2{
  margin:10px 10px 10px 0;
  background:transparent url("img/help2.svg") no-repeat right top;
  padding-right:22px;
  cursor:pointer;
  display:inline-block;
} 

.infobox ul{
  padding:0;
  list-style:none;
} 
.infobox:hover{ max-height:1000px;}

.tip1,.tip2,.tip3,.tip4,.tip5{
  background:transparent url("img/arrow_grey.svg") no-repeat 7px center;
  padding-left:35px;
  margin-bottom:10px;
  //color:#9098A5;
} 

.tip2{
  background:transparent url("img/switch_grey.svg") no-repeat left center;
} 

.tip3{
  background:transparent url("img/drop_grey.svg") no-repeat 5px center;
} 

.tip4{
  background:transparent url("img/play_grey.svg") no-repeat 5px center;
} 

.tip5{
  background:transparent url("img/zoom.svg") no-repeat 5px center;
} 

div#aboutcontainer, div#screencastcontainer,div#resourcescontainer,div#datacontainer{
  height: 100vh;
}

div#aboutcontainer div, div#resourcescontainer div,div#datacontainer div, div#screencastcontainer div{
  margin:0 auto;
  width:600px;
  position: relative;
  top: 25%;
}